* {
    font-family: sans-serif;
    color: inherit;
}

html {
    margin: 0;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 1fr 15fr;
    grid-template-columns: 3fr 16fr;
    margin: 0;
    height: 100%;
}

div.dashboard {
    color: rgb(255, 255, 255);
    background-image: linear-gradient(135deg, rgb(152, 0, 152), rgb(85, 0, 85));
    grid-area: 1/1/3/2;
    padding-left: 2cqw;
}

div.dashlink {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
}

div.dashlink svg {
    fill: white;
}

#dashsvg {
    width: 30px;
    margin-right: -1cqw;
}

div.header {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    background-color: rgb(255, 235, 255);
    box-shadow: 0px 0px 10px rgb(155, 155, 155);
    grid-area: 1/2/2/3
}

div.main {
    background-color: rgb(215, 195, 215);
}

h1 {
    font-size: 30px;
    margin-right: 20px;
    font-weight: 700;
}

div.nav {
    padding-top: 1cqw;
}

div.settings {
    padding-top: 4cqw;
}

div.search {
    display: flex;
    padding: 1.5cqw 2.5cqw 0px;
    align-items: center;
    flex-wrap: nowrap;
}

#search {
    flex-shrink: 100;
    color: black;
    background-color: rgb(215, 205, 215);
    border: 0px;
    border-radius: 10px;
    height: 30px;
    font-size: 15px;
    width: 50cqw;
    padding: 0px 10px;
    margin-right: 4cqw;
}

svg {
    width: 20px;
    padding-right: 2cqw;
    flex-shrink: 0;
}

img {
    display: block;
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-right: 1cqw;
    flex-shrink: 0;
}

#bigpfp {
    margin: 10px 2.5cqw;
    height: 75px;
    width: 75px;
}

p.currentuser {
    color: rgb(0, 0, 0);
    font-weight: 700;
    margin: 0px;
    font-size: 17px;
}

div.greeting {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

div.headcont {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

div.headleft {
    display: flex;
}

div.greeting p {
    font-weight: 700;
    font-size: 15px;
    margin: 0px;
}

h2 {
    margin: 0px;
}

div.buttons {
    flex-shrink: 0;
    padding: 0cqw 4cqw;
}

button {
    border-radius: 30px;
    border: 0px;
    background-color: rgb(152, 0, 152);
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding: 10px 30px;
    margin-right: 14px;
}

div.card {
    background-color: rgb(255, 235, 255);
}

div.main {
    display: grid;
    grid-template-rows: 0.5fr 6fr 3fr;
    grid-template-columns: 10fr 4fr;
}

div.mainhead {
    /* background-color: red; */
    grid-area: 1/1/2/3;
    display: flex;
    justify-content: space-between;
    padding: 0px 11cqw 0px 2cqw;
    font-weight: 500;
    height: 45px;
}

div.cardcontainer {
    background-color: blue;
    grid-area: 2/1/4;
    display: flex;
}

div.misccontainer {
    background-color: red;
    grid-area: 2/2/4/3;
}

div.card {
    max-width: 45cqw;
    max-height: 20cqh;
}