* {
    color: white;
    font-family: sans-serif;
}

html {
    margin: 0;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 3fr 10fr;
    grid-template-columns: 1fr 4fr;
    margin: 0;
    height: 100%;
}

div.dashboard {
    background-image: linear-gradient(50deg, rgb(135, 2, 135), rgb(85, 1, 85));
    grid-area: 1/1/3/2;
    padding-left: 2cqw;
}

div.header {
    box-shadow: 0px 0px 10px rgb(155, 155, 155);
    grid-area: 1/2/2/3
}

div.main {
    background-color: rgb(215, 215, 215);
}

h1 {
    font-size: 2cqw;
    font-weight: 700;
}

div.nav {
    padding-top: 1cqw;
}

div.settings {
    padding-top: 3cqw;
}

input #search {
    color: black;
}