* {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}

html {
    margin: 0;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 3fr 10fr;
    grid-template-columns: 3fr 16fr;
    margin: 0;
    height: 100%;
}

div.dashboard {
    background-image: linear-gradient(135deg, rgb(152, 0, 152), rgb(85, 0, 85));
    grid-area: 1/1/3/2;
    padding-left: 2cqw;
}

div.header {
    background-color: rgb(255, 235, 255);
    box-shadow: 0px 0px 10px rgb(155, 155, 155);
    grid-area: 1/2/2/3
}

div.main {
    background-color: rgb(215, 195, 215);
}

h1 {
    font-size: 2cqw;
    font-weight: 700;
}

div.nav {
    padding-top: 1cqw;
}

div.settings {
    padding-top: 3cqw;
}

div.search {
    display: flex;
    padding: 1.5cqw 2.5cqw;
    align-items: center;
}

#search {
    color: black;
    background-color: rgb(215, 205, 215);
    border: 0px;
    border-radius: 10px;
    height: 30px;
    font-size: 15px;
    width: 50cqw;
    padding: 0px 10px;
    margin-right: 5cqw;
}

svg {
    width: 20px;
    padding-right: 12px;
}

img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

p.currentuser {
    color: rgb(0, 0, 0);
}