html {
    margin: 0;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 2fr 9fr;
    grid-template-columns: 2fr 10fr;
    margin: 0;
    height: 100%;
}

div.dashboard {
    background-color: blue;
    grid-area: 1 / 1 / 3 / 2 ;
}

div.header {
    background-color: red;
    grid-area: 1/2/2/3
}

div.main {
    background-color: aqua;
    
}